body{
    background-color: rgb(160, 108, 57);
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}
.icon-container{
    width:40px;
    height: 40px;
    background-image: url(../img/Ellipse.svg);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
} 
.icon-container svg{
    width: 16px;
    height: 16px;
}
.icon-container:hover{
    background-image: url(../img/Ellipse-hover.svg);
    cursor: pointer;
}

.parent-image {
  position: relative;
  border-radius: 14.795px;
  border: 0.616px solid rgba(255, 255, 255, 0.50);
  width: 182.491px;
  height: 193.035px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;

}

.child-image {
  position: absolute;
  top: 94.9px; /* Встановіть потрібні значення відступів */
  left: 97.33px;
}

.imges{
    width: 118.546px;
    height: 133.989px;
    flex-shrink: 0;
}


.box{
    width: 600px;
    height: 400px;
    background-image: url(../img/image.jpg);
    background-repeat: no-repeat;
    border-radius: 100px;
    box-shadow: 0 0 15px 20px rgb(42, 17, 50);
}