body{
    background-color: rgb(228, 135, 21);
}
.icon-container{
    width:100px;
    height: 100px;
    background-image: url(../img/Ellipse.svg);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
} 
.icon-container svg{
    width: 60px;
    height: 60px;
}
.icon-container:hover{
    background-image: url(../img/Ellipse-hover.svg);
}