body{
    background-color: rgb(228, 135, 21);
}

.container{
    display: flex;
}
.icon-container{
    width:40px;
    height: 40px;
    background-image: url(../img/Ellipse.svg);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 24px;
} 
.icon-container svg{
    width: 16px;
    height: 16px;
}
.icon-container:hover{
    background-image: url(../img/Ellipse-hover.svg);
    cursor: pointer;
}